#!/bin/zsh

alias zrld="source ~/.zshrc"
alias zcfg="$EDITOR ~/.zshrc && zrld"
alias acfg="$EDITOR ~/.aliases && zrld"

alias -g apt="sudo nala"
alias -g apts="sudo nala search"
alias -g apti="sudo nala install -y"
alias -g aptu="sudo nala update"

alias -g ls="eza --icons"
alias -g ll="eza -lh --icons"
alias -g la="eza -lha --icons"
alias -g lt="eza -T --icons"

alias -g cat="batcat -p"